.App {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  background-color: lightblue;
  width: 420px;
  height: 260px;
  border-radius: 22px;
  margin-top: 250px;
  line-height: 25%;
  background-image: url(./earth.jpg);
  background-size: cover;
}

.allInfos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PaymentCompanies {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.block {
  padding: 10px;
}

img {
  padding-bottom: 5px;
}

.puce {
  display: block;
}

.infos {
  display: flex;
  justify-content: space-between;
}

.date {
  text-align: right;
  margin-left: 20px;
}

h2 {
  text-align: right;
  padding: 10px 15px;
}

.puce {
  padding: 0 30px;
}
